@font-face{
	font-family: BadScript-Regular;
	src:url(fonts/BadScript-Regular.ttf);
}
@font-face{
	font-family: Neucha;
	src:url(fonts/Neucha.ttf);
}
body{
	background-color: #D4FCD4;
}
img{
	width: 30%;
	height: 30%;
}
p{
text-indent: 20px;
}
.bod{
	float:center;
	width: 80%;
	height: 98%;
	margin:auto;
	margin-top: 10px;
}
.head{
	background-color: #00C289;
	height: 10%;
	padding-top: 7px;
	padding-bottom: 7px;
	text-align: center;
	font-size: 40px;
	font-family: BadScript-Regular;
}

.menu{
	background-color: #00a776;
	width: 23%;
	min-height: 83%;
	float:left;
	font-family: Neucha;
	padding:1%;
}
.page{
	padding:3%;
	float: right;
	font-size: 18px;
	min-height: 100px;
	font-family: Neucha;
}
.text
{
	font-family: Neucha;
	text-align: left;
	margin-bottom: 10px;
}
.about{
	font-family: Neucha;
	font-size: 30px;
	text-align: center;
	margin-bottom: 10px;
}
.c{
	float: right;
	width: 65%;
}
